.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.label {
  left: 8px;
  position: absolute;
  top: -28px;
}

.select {
  background-image: none !important;
  border-radius: 32px;
  font-size: 18px;
  height: 40px;
  outline: none !important;
  width: 130px !important;
}

